<div>
  <div id="searchicon" style="cursor:pointer; font-size: 2.5em; position: fixed; right: 15px; z-index: 2; top: 15px;"
  onClick="myFunction()" >
<svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#b2b2b2"><path d="M3 5H21" stroke="#b2b2b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="#b2b2b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="#b2b2b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>  </div><!-- <button onClick="myFunction()"class="mobile-dropdown-toggle">
  </button> -->
<div id="sidebar2" class="sidebar">
  <div style="text-align:center" id="search-demo-container">
    <i id="searchicon2" class="fa-solid fa-magnifying-glass" style="position: sticky;left: 24px;top: 7px;font-size: 13px; color: #515151; "></i><input class="searchbar" type="search" id="search-input" placeholder="Search..." style="background: #27262E;border: solid #515151;padding-left: 25px; color:#B2B2B2; font-family:'Scala'">
    <ul style="position:absolute; padding-left:0.5rem; padding-bottom: 2rem; font-size:0.9rem; width:85%; text-align:left; " id="results-container"></ul>
    <!-- <form action="./search.html" method="get">
      <label for="search-box">Search</label>
      <input type="text" id="search-box" name="query">
      <input type="submit" value="search">
    </form> -->
  </div>
  <div id="sidebar" class="container sidebar-sticky">
    <div class="sidebar-about" >
      <h1>
        <a href="/" aria-label="home" style="color:#78C0A0; padding-left: 0.6rem;text-decoration: none;font-size: 2.5rem;line-height: 0;">
          the
        </a>
</h1>
      <h1 class="digtitle" style=" color:#78C0A0; padding-left: 0.5rem;line-height: 0.45;font-size: 5.3rem;"><a aria-label="Home" style="color:#78C0A0" href="/">
        Dig
    </a></h1>
      <p class="lead" style="margin-bottom:1.5rem" >{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort: 'order' %}
      {% assign series = "Iran,Antibody,China,War on Terror w,The Dig Presents" | split: ',' %}

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" or node.layout=="page2" %}
            {% unless series contains node.title %}

            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" aria-label="{{ node.title }}" href="{{ node.url }}">{{ node.title }}</a>
            {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" aria-label="Patreon" href="https://www.patreon.com/thedig">Contribute</a>
      <a class="sidebar-nav-item" aria-label="Dan" href="https://thedig.cargo.site">About Dan</a>

    </nav>

  </div>
  <div id="iconbar" class="icon-bar" style="justify-content:space-evenly; width: 100%;" >
    <a href="https://podcasts.apple.com/us/podcast/the-dig/id1043245989?mt=2&ls=1" aria-label="Apple">
     <i class="fa fa-apple" style="color:#b2b2b2;"></i>
   </a>
   <a href="https://open.spotify.com/show/2noCXQGBJp76DR2qcxETPy" aria-label="Spotify">
     <i class="fa fa-spotify" style="color:#b2b2b2;"></i>
   </a>
   <a href="https://twitter.com/thedigradio" aria-label="Twitter">
     <i class="fa fa-twitter" style="color:#b2b2b2;"></i>
   </a>
 </div>
</div>
</div>

    <!-- Script pointing to search-script.js -->
    <script src="{{ site.url }}/js/search-script.js"></script>

    <!-- Configuration -->
    <script>
      window.simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        sidebar: document.getElementById('sidebar'),
        iconbar: document.getElementById("iconbar"),
        json: '../../public/search.json',
        searchResultTemplate: '<li><a href="{url}?query={query}" title="{desc}">{title}</a></li>',
        noResultsText: 'No results found',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
      })
    </script>

    <script>
        function myFunction() {
            const navElement = document.getElementById("sidebar2");
            navElement.classList.toggle("mystyle");

            const navElementicon = document.getElementById("iconbar");
            navElementicon.classList.toggle("mystyle");

            const navElementMenu = document.getElementById("searchicon");
            navElementMenu.classList.toggle("hideicon");
        }

        // Function to close the dropdown if clicked outside
        function closeDropdownIfClickedOutside(event) {
            const dropdown = document.getElementById("sidebar2");
            const iconbar = document.getElementById("iconbar");
            const searchicon = document.getElementById("searchicon");

            if (!dropdown.contains(event.target) &&
                !iconbar.contains(event.target) &&
                !searchicon.contains(event.target)
                ) {

                // Remove the classes if clicking outside the elements
                dropdown.classList.remove("mystyle");
                iconbar.classList.remove("mystyle");
                searchicon.classList.remove("hideicon"); // Show the search icon again
        }
          }

        // Attach the event listener to the document
        document.addEventListener('click', closeDropdownIfClickedOutside);
    </script>

